.tasks__title {
  padding-left: 21px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 20px;
  background-image: url("../../assets/img/tasks.svg");
  background-size: 12px 10px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  letter-spacing: 0.2px;
}

.tasks__list {
  list-style-type: none;
  width: 220px;
  margin-bottom: 100px;
}

.tasks__item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  margin-bottom: 20px;
  letter-spacing: 0.15px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;

  &--active {
    border: 1px solid #7c7c7c;
    padding: 11px 10px;
  }

  // &--active .tasks__close {
  //   display: block;
  // }

  &:hover,
  &:focus {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
  }
}

.tasks__name {
  width: 160px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.tasks__item .circle {
  margin-right: 10px;
}

.tasks__close {
  width: 11px;
  height: 11px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  background-image: url("../../assets/img/cross.svg");
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position: 50% 50%;
  cursor: pointer;
  opacity: 0.1;

  &:hover,
  &:focus {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
  }
}

.tasks__img {
  display: block;
  width: 100%;
  height: 100%;
}
